{% extends "admin/base_site.html" %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="/">Home</a>
            &rsaquo; <a href=".">Save</a>
        </div>
    {% endblock %}
{% endif %}

{% block content %}
    {% for name, blob in blobs %}
            <h2>{{ name }}</h2>
            {%  for item in blob %}
                <div> {{ item }}</div>
            {% endfor %}
    {% endfor %}
{% endblock %}