{% for research in researches %}
<ul id='{{ research.key }}'>
    <b>{{ research }}</b>
    <ul>
    <li><label>Cost: </label>{{ research.research_points }}</li>
    {% if research.pre_requisites.count or research.researchstructure_set.count%}
        <label>Pre_Requisites: </label>
            <ul>
            {% for pre in research.pre_requisites.all %}
            <li><a href="#{{ pre.research.key }}">{{ pre.research }}</a></li>
            {% endfor %}
            {% for comp in research.researchstructure_set.all %}
                <li><a href="{{ comp.get_structure_link }}">{{ comp.structure }}</a></li>
            {% endfor %}
            </ul>
        {% endif %}



        {% if research.researchcomponent_set.count or research.researchfunctions_set.count or research.resultstructure_set.count%}
            <label>Added: </label>
            <ul>
                {% for comp in research.researchcomponent_set.all  %}
                    <li><a href="{{ comp.get_component_link }}">{{ comp.component }}</a></li>
                {% endfor %}

                {% for funct in research.researchfunctions_set.all %}
                    <li><a href="{{ funct.get_funct_link }}">{{ funct.function }}</a></li>
                {% endfor %}

                {% for comp in research.resultstructure_set.all %}
                    <li><a href="{{ comp.get_structure_link }}">{{ comp.structure }}</a></li>
                {% endfor %}
            </ul>
        {% endif %}


        {% if research.researchobsoletecomponent_set.count or research.researchobsoletstructure_set.count %}
            <label>Obsolete: </label>
            <ul>
                {% for comp in research.researchobsoletecomponent_set.all %}
                    <li><a href="{{ comp.get_component_link }}">{{ comp.component }}</a></li>
                {% endfor %}
            </ul>
                {% for comp in research.researchobsoletstructure_set.all  %}
                    <li><a href="{{ comp.get_structure_link }}">{{ comp.structure }}</a></li>
                {% endfor %}
        {% endif %}



        </ul>
</ul>
{% endfor %}


