{% extends "admin/base_site.html" %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="/">Home</a>
            &rsaquo; <a href=".">Save</a>
        </div>
    {% endblock %}
{% endif %}

{% block content %}<div id="content-main">
    {% for file, lines in diff %}
        {% if lines %}
            <h2>{{ file }}</h2>
            {%  for color, text in lines %}
                <div style="color:{{color}}; white-space:nowrap;">{{ text }}</div>
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endblock %}