{% extends "admin/base_site.html" %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="/">Home</a>
            &rsaquo; <a href=".">Tables</a>
        </div>
    {% endblock %}
{% endif %}

{% block content %}<div id="content-main">

    <ul id='begin' style='text-align:left; right:0px; position: absolute; font-size: 80%;'>
        {% for table in tables %}
            <li><h3><a href="#{{ table.get_class_name }}">{{ table.get_class_name }}</a></h3>
        {% endfor %}
    </ul>

    <table style="width: 80%">
        {% for table in tables %}
            {#    <caption>{{ table.get_class_name }}</caption>#}
            <tr><th colspan="4" id='{{ table.get_class_name }}'><h3 align="left">{{ table.get_class_name }}
                <a href="#begin">&uarr;</a>
            </h3></th></tr>


            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Limits</th>
                <th>Default</th>
                <th>Description</th>
            </tr>
            {% for fields in table.get_template %}
                <tr>
                    {% for field in fields.get_data %}
                        <td>
                            {{ field|safe}}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endfor %}

    </table>
{% endblock %}

